@use "./actor-detail";
@use "./video-detail";
@use "./watch-later";
@use "./ranking";
@use "./home";
@use "./subscribe-big";
@use "./subscribe-small";
@use "./subscribe-setting";
@use "./my-profile";
@use "./my-history";
@use "./table-list";
@use "./table-post";
